body {
    background: #2c3e50;
    font-family: Arial;
}

.login-box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 120px auto;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

#msg {
    color: red;
}
