body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    text-align: center;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.stars span {
    font-size: 30px;
    cursor: pointer;
    color: gray;
}

.stars span.active {
    color: gold;
}

button {
    padding: 10px;
    width: 100%;
    background: green;
    color: white;
    border: none;
}
