body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.feedback {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.rating {
    color: gold;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}
